@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .inputs{
    @apply rounded-lg w-[20rem] px-4 py-2 text-sm transition-all duration-300 focus:ring focus:ring-yellow-300 focus:outline-none 
  }
  .loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(theme(colors.stone.800) 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

}


/* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */

